/* Inserta tu codigo aqui */
.section1{
	background: #F1F1F1;
	padding: 3% 12%;
}
.cont-blog{
	padding: 2% 0;
}

.img-blog  {
	height: 300px;
}
.text-blog{
	padding: 2%;
	background: #E3E3E3;
	height: 300px;
}
.text-blog h5{
	padding-bottom: 2%;
}
.boton-blog {
	width: 27%;
    padding: 2%;
    background: #1A2952;
    display: block;
    margin: 2% 0;
    border-radius: 5px;
     text-align: center;
   }
.boton-blog a{
	 text-decoration: none;	
}
.img-blog1{
	background-image:url(../img/blog1.jpg);
}
.img-blog2{
	background-image:url(../img/profesor_5.jpg);
}
.img-blog3{
	background-image:url(../img/instructor_1.jpg);
}
p{
	font-size: 20px;
}