/* Inserta tu codigo aqui */

.principal{
	background-size: cover;
	background-image: url(../img/dance_1.jpg);
	height: 36em;
}
.text-top{
	top: 36%;
 	position: absolute;
  	left: 10%;
}
.text-top h1{
	font-size: 5em;
	position: relative;
	display: inline-block;
	color: #C3C6C5;
}
.principal .text-top p{
	position: relative;
	width: 30%;
	top: 20px;
}

.boton-inscribete{
	display: inline-block;
	top: 50px;
  	position: relative;
}
.boton-inscribete a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 10% 27%;
	background-color: #010D1A;
	width: 150px;
	border-radius: 3px;
	}
.section1{
	background-image: url(../img/textura_2.jpg);
}
.caja{
	padding:3% 28%;
	margin: 0 auto;
}
.section1 .texto{
	font-size: 1.8em;
}

div.separador{
	width: 150px;
  	margin: 0 auto;
  	position: relative;
  	margin-top: -4%;
}
div.separador img{
	width: 100%;
}
div.boton{
	padding: 3%;
	margin:0 auto 1%;
	background-color: #192951;
	border-radius: 3px;;
	width: 45%;
	border-radius: 5px;
	font-size: 20px;
	
}

.section2{
	position: relative;
}
.section2 .col-6{
	background-color: #192951;
	height: 400px;
	border: 2px solid #192951;
	padding: 0;
	background-position: center;
	background-size:cover;
	position: relative;
	overflow: hidden;

}
.section2 .col-6 img{
	width: 100%;
	}
.boton-instructores{
	width: 39%;
	position: absolute;
	padding: 2%;
	font-size: 1.5em;
	bottom: 0px;
	right: 30%;	
	background-color:#192951;
	border-radius: 3px;
}
.section3{
	 background-image: url(../img/textura_2.jpg);
}
.banner2{
	padding: 10%;
	font-size: 4em;
}
.mapa{
	height: 530px;
  	background-color: #192951;
}
.mapa div{
	margin: 0 auto;
	text-align: left;
	padding:6% 6% 0% 6%;
}

iframe{
	width: 600px;
	height: 350px;
	frameborder: 0;
	border:0;
	align: middle;
	margin-left: 10%;
}


